nav{
    padding:0px 0px 30px 0px ;
}
.navb{
    width: 100%;
    background-color: black;
}
nav a{
    color: white;
}
nav a:hover{
    color: white;
}
.fa-shopping-cart{
    font-size: 20px;
    color: white;
}
.fa-user{
    font-size: 15px;
    border: solid;
    border-radius: 30px;
    border-color: white;
}