nav{
    padding:0px 0px 20px 0px ;
}
nav a{
    color: white;
}
nav a:hover{
    color: white;
}
.fa-shopping-cart{
    font-size: 20px;
    color: white;
}
.fa-user{
    font-size: 15px;
    border: solid;
    border-radius: 30px;
    border-color: white;
}